
<%# Error Message %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div id="newuser" class="content col-sm-12 col-md-6">
    <p><strong><%=t :user_register %></strong></p>
      <p><%=t :user_privacy %></p>
        <%= form_for(@user) do |f| %>
          <form id="signup">
            <div class="form-group row">
              <%= f.label :name, (t :name), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control', :placeholder => "Nickname" %>
              <small class="text-muted">
                Must be 5-20 characters long.
                </small>
              </div>
            </div>

            <div class="form-group row">              
              <%= f.label :email, (t :newemail), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.email_field :email, class: 'form-control', :placeholder => "sodone@sodone.com" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :nationality, (t :nationality), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.country_select :nationality, { priority_countries: ["JP", "US", "CN", "TW", "KR", "RU"], priority_countries_divider: "----------" } , {class: 'form-control'} %>
              </div>
            </div>

<%#
<%#            <div class="form-group row">
<%#              <%= f.label :mother_tongue, 'Mother Tongue', class: "col-sm-4 col-form-label" %>
<%#              <div class="col-sm-8">
<%#              <%= f.text_field :mother_tongue, class: 'form-control', :placeholder => "Japanese" %>
<%#              </div>
<%#            </div>
%>
            <div class="form-group row">
              <%= f.label :japanese_ability, (t :ability_ja), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.select :japanese_ability, [["母国語/Native", "0"], ["N1 Advanced", "1"], ["N2 Upper Intermediate", "2"], ["N3 Intermediate", "3"], ["N4 Beginner Intermediate", "4"], ["N5 Beginner", "5"], ["No Japanese ability", "6"]], { :prompt => "Please Select" }, { class: 'form-control'} %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :occupation, (t :visa), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.grouped_collection_select :occupation, Visacategory.all, :visas, :category, :id, :name, {:prompt => "Please Select" }, { class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :residence, (t :city), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.text_field :residence, class: 'form-control', :placeholder => "Tokyo" %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :age, (t :age), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.select :age, (16..99), {:prompt => "Please Select" }, { class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password, (t :newpassword), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control' %>
                <small class="text-muted">
                Must be 5-20 characters long.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :password_confirmation, (t :password_cf), class: "col-sm-4 col-form-label" %>
              <div class="col-sm-8">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>

            <div class="form-check">
              <div class="col-sm-12">              
              <%= f.check_box :email_allowed,{:checked => true}, "true", "false" %>
              <%= f.label :email_allowed, (t :receive_email) %>
              </div>
            </div>
            
            <div class="form-check">
              <div class="col-sm-12"> 
                <%= f.check_box :terms, :as => :boolean, checked:false %>
                <%= link_to (t :agree_term), terms_url, :style=>"color:black;" %>
              </div>
            </div>
            
            <div class="form-group">  
              <div class="col-sm-12">
                <%= f.submit (t :register), class: 'btn btn-success btn-block' %>
              </div>
            </div>
            
          </form>
        <% end %>
  </div>
