<div class="content col-sm-12 col-md-6">

    <%= form_for(@user) do |f| %>
      <form id="user_maintenance">

      <% if current_user == @user %>
      <p><strong><%=t :user_update %></strong></p>

        <div class="form-group row">
          <%= f.label :name, 'Name', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.text_field :name, class: 'form-control', :disabled => true  %>
          </div>
        </div>
  
        <div class="form-group row">              
          <%= f.label :email, 'Email', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.email_field :email, class: 'form-control', :disabled => true %>
          </div>
        </div>
  
        <div class="form-group row">
          <%= f.label :nationality, 'Nationality', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.country_select :nationality, { priority_countries: ["JP", "US", "CN", "TW", "KR", "RU"], priority_countries_divider: "----------" } , {class: 'form-control'}, :disabled => true %>
          </div>
        </div>
    
        <div class="form-group row">
          <%= f.label :japanese_ability, 'Japanese Ability', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.select :japanese_ability, [["母国語/Native", "0"], ["N1 Advanced", "1"], ["N2 Upper Intermediate", "2"], ["N3 Intermediate", "3"], ["N4 Beginner Intermediate", "4"], ["N5 Beginner", "5"], ["No Japanese ability", "6"]], { :disabled => true }, { class: 'form-control'} %>
          </div>
        </div>
  
        <div class="form-group row">
          <%= f.label :occupation, 'Visa', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.text_field :occupation, class: 'form-control', :disabled => true %>
          </div>
        </div>
  
        <div class="form-group row">
          <%= f.label :residence, 'City', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.text_field :residence, class: 'form-control', :disabled => true  %>
          </div>
        </div>
  
        <div class="form-group row">
          <%= f.label :age, 'Age', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.text_field :age, class: 'form-control', :disabled => true  %>
          </div>
        </div>
  
        <div class="form-group row">
          <%= f.label :self_intro, 'About Me', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%== @user.self_intro %>
          </div>
        </div>
        
        <div class="form-check">
          <div class="col-sm-offset-2 col-sm-5">              
            <%= f.check_box :email_allowed, {}, "true", "false" %>
            <%= f.label :email_allowed, 'Receive Email from So Done', :disabled => true  %>
          </label>
          </div>
        </div>
  
        <div class="form-group">  
          <div class="col-sm-9">
            <%= link_to 'Edit', edit_user_url(@user),class: "btn btn-warning btn-block" %>
          </div>
        </div>
      
      <%# List of User's comments #%>
      <h5><%=t :comments %></h5>
        <div class="row">
          <% @mycomments.each do |comment| %>
            <div class="col-sm-6">
            <div id="listsofcomments">
              <div class="card">
                <div class="card-header">
                  <%= comment.post.title %>
                    <%# delete button #%>
                    <% if current_user == comment.user %>
                      <%= link_to comment_url(comment), method: :delete, data: { confirm: "You sure?" } do %>
                        <small class="text-muted"><i class="fa fa-trash" aria-hidden="true"></i></small>
                      <% end %>
                    <% end %>
                    <span class="text-muted">
                      <%= time_ago_in_words(comment.created_at) %>
                    </span>
                </div>
                <div class="card-body">
                  <%= link_to comment.user.name, user_path(comment.user)%>
                  <%= simple_format(comment.comment) %>
                  <%# Childcomment #%>
                  <%= link_to "Comment", comment_url(comment), class: "btn btn-light btn-sm" %>
                  <%# Childcomment Count #%>
                  <span class="badge"><%= comment.childcomments.count %></span>
                </div>
              </div>
            </div>
            </div>
          <% end %>
        </div>

        <%= paginate @mycomments %>


      <%# 他ユーザ/Other Users #%>
      <% else %>
      
      
        <p><strong>Profile</strong></p>
      
        <div class="form-group row">
          <%= f.label :name, 'Name', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.text_field :name, class: 'form-control', :disabled => true %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :nationality, 'Nationality', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.country_select :nationality, { priority_countries: ["JP", "US", "CN", "TW", "KR", "RU"], priority_countries_divider: "----------" } , {class: 'form-control'}, :disabled => true  %>
          </div>
        </div>
    
        <div class="form-group row">
          <%= f.label :japanese_ability, 'Japanese Ability', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.select :japanese_ability, [["母国語/Native", "0"], ["N1 Advanced", "1"], ["N2 Upper Intermediate", "2"], ["N3 Intermediate", "3"], ["N4 Beginner Intermediate", "4"], ["N5 Beginner", "5"], ["No Japanese ability", "6"]], { :disabled => true }, { class: 'form-control'} %>
          </div>
        </div>
  
        <div class="form-group row">
          <%= f.label :residence, 'City', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%= f.text_field :residence, class: 'form-control', :placeholder => "Tokyo", :disabled => true  %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :self_intro, 'About Me', class: "col-sm-4 col-form-label" %>
          <div class="col-sm-5">
          <%== @user.self_intro %>
          </div>
        </div>
        
         <%# List of User's comments #%>
        <h5><%=t :comments %></h5>
          <div class="row">
            <% @mycomments.each do |comment| %>
              <div class="col-sm-6">
              <div id="listsofcomments">
                <div class="card">
                  <div class="card-header">
                    <%= comment.post.title %>
                      <%# delete button #%>
                      <% if current_user == comment.user %>
                        <%= link_to comment_url(comment), method: :delete, data: { confirm: "You sure?" } do %>
                          <small class="text-muted"><i class="fa fa-trash" aria-hidden="true"></i></small>
                        <% end %>
                      <% end %>
                      <span class="text-muted">
                        <%= time_ago_in_words(comment.created_at) %>
                      </span>
                  </div>
                  <div class="card-body">
                    <%= link_to comment.user.name, user_path(comment.user)%>
                    <%= simple_format(comment.comment) %>
                    <%# Childcomment #%>
                    <%= link_to "Comment", comment_url(comment), class: "btn btn-light btn-sm" %>
                    <%# Childcomment Count #%>
                    <span class="badge"><%= comment.childcomments.count %></span>
                  </div>
                </div>
              </div>
              </div>
            <% end %>
          </div>

          <%= paginate @mycomments %>
 
      <% end %>  
    <% end %>  
  