
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
            <h1><strong><em>So Done</em></strong></h1>
            <h2><strong>-そうだん-</strong></h2>
            <p><%=t :top_comment1 %></p>
            <p><%=t :top_comment2 %></p>
            <p><%=t :top_comment3 %></p>
            <p><%=t :top_comment4 %></p>
            <p><%=t :top_comment5 %></p>
      </div>
    </div>
  </div>
  
  <%# Category 1 日本生活サポート #%>
  <div class="category" class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4><strong><%=t :category1 %></strong></h4>
      </div>
    </div>

    <div class="row">
      <%# Life1 #%>
      <% @post1.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/babysitter.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      
      <%# Life2 #%>
      <% @post2.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/tutoring.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  
      <%# Life3 #%>
      <% @post3.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/sightseeing.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  
      <%# Life4 #%>
      <% @post4.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/administration.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  
      
 <%# Category 3 Career and Business #%>
  <div class="category" class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4><strong><%=t :category3 %></strong></h4>
      </div>
    </div>

    <div class="row">
      <%# Career and Business1 Job hunting support　#%>
      <% @post7.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/jobhunting.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  
      <%# Career and Business2 #%>
      <% @post8.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/skillup.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  
      <%# Career and Business3 #%>
      <% @post9.each do |post| %>
      <div class="eachcard" class="col-sm-3">
        <div class="card">
          <img class="card-img-top" src="/images/spotbusiness.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
            <p class="card-text"><%= post.headline %></p>
            <div class="reaction-buttons">
              <%# Want Button#%>
              <%= render 'attentions/want_button', post: post %>
              <%# Offer Button#%>            
              <%= render 'attentions/offer_button', post: post %>
              <%# Comment > Post Show %>
              <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

  
    <%# Career and Business4 #%>
    <% @post10.each do |post| %>
    <div class="eachcard" class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="/images/business-support.jpg" alt="business-support">
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
          <p class="card-text"><%= post.headline %></p>
          <div class="reaction-buttons">
            <%# Want Button#%>
            <%= render 'attentions/want_button', post: post %>
            <%# Offer Button#%>            
            <%= render 'attentions/offer_button', post: post %>
            <%# Comment > Post Show %>
            <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>    
    </div>
  </div>


  <div class="row">
    <%# Category 2 Local Life #%>
    <div class="col-sm-6">
      <div class="category" >
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h4><strong><%=t :category2 %></strong></h4>
              </div>
            </div>
          </div>
      
          <div class="col-sm-12">
            <div class="row">
              <%# Local 1 #%>
              <% @post5.each do |post| %>
              <div class="eachcard" class="col-sm-6">
                <div class="card">
                  <img class="card-img-top" src="/images/service-local.jpg" alt="service-local">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
                    <p class="card-text"><%= post.headline %></p>
                    <div class="reaction-buttons">
                      <%# Want Button#%>
                      <%= render 'attentions/want_button', post: post %>
                      <%# Offer Button#%>            
                      <%= render 'attentions/offer_button', post: post %>
                      <%# Comment > Post Show %>
                      <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
          
              <%# Local 2 #%>
              <% @post6.each do |post| %>
              <div class="eachcard" class="col-sm-6">
                <div class="card">
                  <img class="card-img-top" src="/images/learn-local.jpg" alt="learn-local">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
                    <p class="card-text"><%= post.headline %></p>
                    <div class="reaction-buttons">
                      <%# Want Button#%>
                      <%= render 'attentions/want_button', post: post %>
                      <%# Offer Button#%>            
                      <%= render 'attentions/offer_button', post: post %>
                      <%# Comment > Post Show %>
                      <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <%# Category 4 Language #%>
    <div class="col-sm-6"> 
      <div class="category">
         <div class="row">
          <div class="col-sm-12">
            <div class="card-header">
                <h4><strong><%=t :category4 %></strong></h4>
            </div>
          </div>
    
          <div class="col-sm-12">
            <div class="row">
              <%# Language 1 #%>
              <% @post11.each do |post| %>
              <div class="eachcard" class="col-sm-6">
                <div class="card">
                  <img class="card-img-top" src="/images/translation.jpg" alt="translation">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
                    <p class="card-text"><%= post.headline %></p>
                    <div class="reaction-buttons">
                      <%# Want Button#%>
                      <%= render 'attentions/want_button', post: post %>
                      <%# Offer Button#%>            
                      <%= render 'attentions/offer_button', post: post %>
                      <%# Comment > Post Show %>
                      <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
                    </div>
                  </div>
                </div>
              </div>
      
              <% end %>
          
              <%# Language 2 #%>
              <% @post12.each do |post| %>
              <div class="eachcard" class="col-sm-6">
                <div class="card">
                  <img class="card-img-top" src="/images/interpretation.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to post.title, post_url(post.id), :style=>"color:black;" %></h5>
                    <p class="card-text"><%= post.headline %></p>
                    <div class="reaction-buttons">
                      <%# Want Button#%>
                      <%= render 'attentions/want_button', post: post %>
                      <%# Offer Button#%>            
                      <%= render 'attentions/offer_button', post: post %>
                      <%# Comment > Post Show %>
                      <%= link_to "Comment", post_url(post.id), class: "btn btn-dark btn-sm" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


