
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
          <h4><%=t :headline1 %></h4>
          <h1><strong><em>So Done</em></strong></h1>
          <h2><strong>-そうだん-</strong></h2>
         <%# <h4><%=t :headline2 %><%#</h4> %>
          <%= link_to (t :register), signup_path, class: 'btn btn-outline-dark btn-lg'%>
      </div>
    </div>
  </div>
  
  <div id="beta_intro">
    <h3><strong><%=t :beta_header %></strong></h3>
    <p><%=t :beta_p1 %></p>
    <p><%=t :beta_p2 %></p>
  </div>
  
  <div id="about">
    <h3><strong>What's So Done?</strong></h3>
    <h4><%=t :sodoneis %></h4>
    <h4><%=t :capability %></h4>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            
            <%# CARD %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-header"><%=t :category_house %></h5>
                    <div class="card-body">
                      <p class="card-text"><%=t :content_house %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-header"><%=t :category_leasure %></h5>                    
                    <div class="card-body">
                      <p class="card-text"><%=t :content_leasure %></p>
                    </div>
                  </div>
                </div>
              </div>
    
          </div>
          <div class="carousel-item">
            
            <%# CARD %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-header"><%=t :category_business %></h5>                     
                    <div class="card-body">
                      <p class="card-text"><%=t :content_business %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-header"><%=t :category_study %></h5> 
                    <div class="card-body">
                      <p class="card-text"><%=t :content_study %></p>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
          <div class="carousel-item">
            
            <%# CARD %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-header"><%=t :category_interpretation %></h5> 
                    <div class="card-body">
                      <p class="card-text"><%=t :content_interpretation %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-header"><%=t :category_translatioin %></h5>                     
                    <div class="card-body">
                      <p class="card-text"><%=t :content_translatioin %></p>
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  
  <div id="how">
    <h3><strong>How does So Done work?</strong></h3>
    <h4><%=t :howsodoneworks_1 %></h4>
    <h4><%=t :howsodoneworks_2 %></h4>
    
    <div id="mobile-page">
      <div class="row">
        <div class="col-sm-12 col-md-5">     
          <a href="images/mobile-page1.png" data-lightbox="img" rel="lightbox" data-title="Mobile-page1" data-lightbox="Mobile-page">
            <img src="/images/mobile-page1.png" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
          </a>
        </div>
        <div class="col-sm-12 col-md-5">     
          <a href="images/mobile-page2.png" data-lightbox="img" data-title="Mobile-page2" data-lightbox="Mobile-page">
            <img src="/images/mobile-page2.png" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
          </a>
        </div>
      </div>
    </div>
        
    <div class="container">
      <div class="row">
        <div class="col-5 col-md-2">     
          <figure class="figure">
            <img src="/images/sad.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption"><%=t :process_1 %></figcaption>
        </div>
        
        <div class="col-1">
          <figure class="figure">
          <img src="/images/arrow.png" id="arrow">
        </div>
        
        <div class="col-5 col-md-2">   
          <figure class="figure">
            <img src="/images/supporter.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption"><%=t :process_2 %></figcaption>
          </figure>    
        </div>
        
        <div class="col-1">
          <figure class="figure">
          <img src="/images/arrow.png" id="arrow">
        </div>
        
        <div class="col-5 col-md-2">    
        <figure class="figure">
          <img src="/images/contract.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption"><%=t :process_3 %></figcaption>
        </figure>
        </div>
        
        <div class="col-1">
          <figure class="figure">
          <img src="/images/arrow.png" id="arrow">
        </div>
        
        <div class="col-5 col-md-2">
        <figure class="figure">
          <img src="/images/soudan.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption"><%=t :process_4 %></figcaption>
        </figure>
        </div>
        
        <div class="col-1">
          <figure class="figure">
          <img src="/images/arrow.png" id="arrow">
        </div>
      </div> 
    </div>   
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4 col-md-3">
        <figure class="figure">
          <img src="/images/solved.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption"><%=t :process_5 %></figcaption>
        </figure>
        </div>
      </div> 
    </div>   
    
  </div> 
  
  <div id="why">
    <h3><strong>Why So Done?</strong><br><br></h3>
    <p>
      <%=t :whysodone_1 %>
      <br><br>
    </p>
    <p>
      <%=t :whysodone_2 %>
      <br><br>
    </p>
    <p>
      <%=t :whysodone_3 %>
      <br><br>
    </p>
    <p>
      <%=t :whysodone_4 %>
      <br>
      <%=t :whysodone_5 %>
      <br>
      <%=t :whysodone_6 %>
      <br><br>
    </p>
    <p>
      <%=t :whysodone_7 %>
    </p>
  </div>
