<header>
<nav class="navbar navbar-expand-lg" style="background-color: #c1e4e9;">
  <a class="navbar-brand" href="/"><strong><em>So Done</em> -そうだん-</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="background-color: grey;"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><span class="flag-icon flag-icon-gb flag-icon-squared"></span><%= link_to "English", { :locale=>'en' } %></li>
      <li><span class="flag-icon flag-icon-jp flag-icon-squared"></span><%= link_to "日本語", { :locale=>'ja' } %></li>
      <li><span class="flag-icon flag-icon-ru flag-icon-squared"></span><%= link_to "Русский", { :locale=>'ru' } %></li>
      
   <% if logged_in? %>
      <li><%= link_to 'マイページ', user_path(current_user) %></li>
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>

   <% else %>
      <li><%= link_to '新規登録', signup_path %></li>
      <li><%= link_to 'ログイン', login_path %></li>

  <% end %>      
    </ul>
  </div>
  </nav>
</header>