<header>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #c1e4e9;">
  <a class="navbar-brand" href="/"><strong><em>So Done</em> -そうだん-</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=t :language %><span class="flag-icon flag-icon-jp flag-icon-squared"></span>

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div>
            <%= link_to  :locale=>'en' do %>
              <span class="flag-icon flag-icon-gb flag-icon-squared"></span> English
            <% end %>
          </div>
          <div>
            <%= link_to  :locale=>'ja' do %>
              <span class="flag-icon flag-icon-jp flag-icon-squared"></span> 日本語
            <% end %>
          </div>
          <div>
            <%= link_to  :locale=>'ru' do %>
              <span class="flag-icon flag-icon-ru flag-icon-squared"></span> Русский
            <% end %>
          </div>
        </div>
      </li>

      <li class="nav-item"><%= link_to "Contents", contents_path %></li>

   <% if logged_in? %>
      <li class="nav-item"><%= link_to 'My profile', user_path(current_user) %></li>
      <li class="nav-item"><%= link_to (t :logout), logout_path, method: :delete %></li>

   <% else %>
      <li class="nav-item"><%= link_to (t :signup), signup_path %></li>
      <li class="nav-item"><%= link_to (t :login), login_path %></li>

  <% end %>      
    </ul>
  </div>
  </nav>
</header>